body {
    padding: 0;
    margin: 0;
    background-color: rgba(180, 109, 16, 0.822);
    /* background-image: url("../images/fruit-bgs.png");   */

  }
  
  #map,
  body,
  html {
    height: 90%;
  }

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: rgb(3, 0, 0);
  text-align: center;
}
.legend {
line-height: 24px;
color: #555;
}
.legend i {
width: 24px;
height: 24px;
float: left;
margin-right: 8px;
opacity: 0.7;
border-color: black;
}

.div {
  opacity:0 ;
}

.container{
  width: 150;
  margin: 150;
  position: relative;
  height: 250px;
  padding: 30px;
  margin: 10;
  text-align: center;
  background:rgb(159, 231, 189);
  background-image: url("../images/fruit-bgs.png");  
  background-attachment: fixed; 
  background-position: bottom center; 
  background-size: cover; 
}

.h1{
  margin-top: 200px;
  font-size: 0.1rem;
  text-align: center;
  animation: title 1.2s forwards linear;
}
.h2{
  font-size:0.05rem ;

}
.col-md-2{
  background:rgb(134, 163, 134);
}
.btn-succes{
  box-sizing: 10;

}
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}