body {
    padding: 0;
    margin: 0;
    background-color: rgba(240, 227, 211, 0.822);
    background-image: url("../images/fruit-bgs.png");
    background-attachment: fixed;   
}
  
#header{
  text-align: center;   
  margin: 10px;
}

#side-bar{
  background:rgb(134, 163, 134);  
  margin-left: 10px;
  /* height: 100%; */
}


.default-text{
  /* font-size: smaller; */
  font-style: italic;
  padding-top: 2px;
}

.statemarkets{
  text-decoration: underline;
  color:rgb(48, 48, 49);
}

.table1div{
  position: relative;
  height: 100px;
  overflow: auto;
  margin-bottom: 10px;
}

.table2div{
  position: relative;
  height: 100px;
  overflow: auto;
  margin-bottom: 10px;
}




/* styling must match class levels for map  */
#map,
.map-container,
.row,
.container,
.col-9,
.row,
.container-fluid,
.wrapper,
body,
html {
  height: 93%;
  /* z-index: -1;
  position: relative; */
}

.map-container{
  margin-left: 250px;
}

.graph{
  margin-left: 250px;
  margin-top: 10px;
  
}


/* map info box for hover */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: black;
}
.info h5 {
  margin: 0 0 5px;
  color: rgb(3, 0, 0);
  text-align: center;
}

/* map legend box */
.legend {
line-height: 20px;
color: #555;
}
.legend i {
width: 20px;
height: 20px;
float: left;
margin-right: 8px;
opacity: 0.7;
}

/* bar chart */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #86A386;
  margin-top: 10px;
  /* margin-right: 10%; */
  margin-left: 250px;  
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: rgb(71, 219, 71);
}
.tab button.active {
  background-color: rgb(44, 102, 44);
  
}