body {
    padding: 0;
    margin: 0;
    background-color: rgba(240, 227, 211, 0.822);
    background-image: url("../images/fruit-bgs.png");
    background-attachment: fixed;   
  }
  
  #header{
    text-align: center;   
  }

  /* styling must match class levels for map  */
  #map,
  .row,
  .col-9,
  .row,
  .container-fluid,
  body,
  html {
    height: 90%;
    /* z-index: -1; */
    /* position: relative; */
  }


#side-bar{
  background:rgb(134, 163, 134);  
  margin-left: 10px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: black;
}
.info h5 {
  margin: 0 0 5px;
  color: rgb(3, 0, 0);
  text-align: center;
}
.legend {
line-height: 24px;
color: #555;
}
.legend i {
width: 24px;
height: 24px;
float: left;
margin-right: 8px;
opacity: 0.7;
}


/* 
.footer{
  background-color: rgba(139, 71, 25, 0.733);
  text-emphasis-color: white;  
}

.container-fluid.p{
  font-size: 18;
}

.h1{
  margin-top: 20px;
  font-size: 0.1rem;
  text-align: center;
  animation: title 1.2s forwards linear;
}
.h2{
  font-size:0.05rem ;

} */

/* .col-md-2{
  background:rgb(187, 197, 187); 
  height:400 ; 
  width: 400;
  margin-top: 10px;
  margin-left: 5px;
}
.col-md-12{  
  background-image:url("../images/old_wood.jpg") ;
  font-size: 18px;
  margin-top: 5px;  
}
.col-md-3{
  margin-left: 10px;
  margin-right: 5px;
  width: 350;
  height: 260;
} */

/* 
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
} */