<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Farmers Markets</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

</head>
<body>   

  <div class="container">
      <h1>Farmers Markets in the USA</h1>
      <img src= "/static/images/farmer2.jpg" >
  </div>

  <div>
    .
  </div> 

  <div class="col-md-2">
    <h3>Select your market!</h3>
    <!-- Select List of States-->
    <div class="form-group">
      <label for="sel1">Select State:</label>
      <select class="form-control" id="sel1">
        <option selected>Select State</option>
        <option>ALABAMA</option>
        <option>ALASKA</option>
        <option>ARIZONA</option>
        <option>ARKANSAS</option>
        <option>CALIFORNIA</option>
        <option>COLORADO</option>
        <option>CONNECTICUT</option>
        <option>DELAWARE</option>
        <option>FLORIDA</option>
        <option>GEORGIA</option>
        <option>HAWAII</option>
        <option>IDAHO</option>
        <option>ILLINOIS</option>
        <option>INDIANA</option>
        <option>IOWA</option>
        <option>KANSAS</option>
        <option>KENTUCKY</option>
        <option>LOUISIANA</option>
        <option>MAINE</option>
        <option>MARYLAND</option>
        <option>MASSACHUSETTS</option>
        <option>MICHIGAN</option>
        <option>MINNESOTA</option>
        <option>MISSISSIPPI</option>
        <option>MISSOURI</option>
        <option>MONTANA</option>
        <option>NEBRASKA</option>
        <option>NEVADA</option>
        <option>NEW HAMPSHIRE
        <option>NEW JERSEY</option>
        <option>NEW MEXICO</option>
        <option>NEW YORK</option>
        <option>NORTH CAROLINA</option>
        <option>NORTH DAKOTA</option>
        <option>OHIO</option>
        <option>OKLAHOMA</option>
        <option>OREGON</option>
        <option>PENNSYLVANIA</option>
        <option>RHODE ISLAND</option>
        <option>SOUTH CAROLINA</option>
        <option>SOUTH DAKOTA</option>
        <option>TENNESEE</option>
        <option>TEXAS</option>
        <option>UTAH</option>
        <option>VERMONT</option>
        <option>VIRGINIA</option>
        <option>WASHINGTON</option>
        <option>WEST VIRGINIA</option>
        <option>WISCONSIN</option>
        <option>WYOMING</option>

      </select>
    </div>

    <!-- Check Boxes -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="vegetables" checked>
      <label class="form-check-label" for="vegetables">
        Vegetables
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="wine">
      <label class="form-check-label" for="defaultCheck1">
        Wine
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="seafood">
      <label class="form-check-label" for="seafood">
        Seafood
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flowers">
      <label class="form-check-label" for="flowers">
        Flowers
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="soap">
      <label class="form-check-label" for="soap">
        Soap
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="cofee">
      <label class="form-check-label" for="cofee">
        Cofee
    </label>
    </div>


    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="poultry">
      <label class="form-check-label" for="poultry">
        Poultry
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="pet-food">
      <label class="form-check-label" for="pet-food">
        Pet Food
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="organic">
      <label class="form-check-label" for="organic">
        Organic
      </label>
    </div>    

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="grains">
      <label class="form-check-label" for="grains">
        Grains
      </label>
    </div>    

    <button type="button" class="btn btn-success">SEARCH</button>

  </div>
 
    <!-- The div that holds our map --> 
  <div id="map"></div>
  
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>
</body>
</html>
